<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="google-site-verification" content="DktoWKqaF989pV6L7ofdJ204DtnfMLCxWKHUXjMi8aU" />
    <title>Praveen Chandar </title>
    <meta name="description" content="Personal research website of Praveen Chandar.">
    <meta name="keywords" content="Praveen Chandar, information retireval, information need, computational linguistics, natural language processing, artificial intelligence, machine learning">

    <link rel="stylesheet" href="/public/css/main.css">
    <script language="javascript">
       function toggleDiv(divid){
       if(document.getElementById(divid).style.display == 'none'){
         document.getElementById(divid).style.display = 'block';
       }else{
         document.getElementById(divid).style.display = 'none';
       }
     }
    </script>
  </head>

  <body>
    <div class="content container">
      {{ content }}
    </div>
  </body>

  <footer class="footer cf" role="contentinfo">
    <div class="copyright">
      <p>@ 2016&#160;<a href="mailto:pcr@udel.edu">Praveen Chandar</a></p>
    </div>

    <div class="colophon">
      <a href="https://github.com/pchandar">
        <img class="social-icons" src="/public/images/github-icon.png" width="20" height="20" alt="Github">
      </a>


      <a href="https://twitter.com/semanticpc">
        <img class="social-icons" src="/public/images/twitter.png" width="20" height="20" alt="Twitter">
      </a>

      <a href="https://scholar.google.com/citations?user=phLOBVYAAAAJ&hl=en">
        <img class="social-icons" src="/public/images/google-scholar.png" width="20" height="20" alt="Google Scholar">
      </a>

      <a href="http://www.linkedin.com/in/praveenchandar">
        <img class="social-icons" src="/public/images/linkedin-icon.png" width="20" height="20" alt="LinkedIn">
      </a>
    </div>

  </footer>
</html>
